body {
  font-family: sans-serif;
  text-align: center;
  background-color: #eee;
}
.game-display {
  width: 330px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.cell {
  font-size: 16px;
  margin: 2px;
  width: 100px;
  height: 100px;
  background-color: #aaa;
}
.played {
  color: #fff;
  margin: 10px;
  width: 84px;
  height: 84px;
  font-size: 60px;
}
.player0 {
  background-color: #a00;
}
.player1 {
  background-color: #0a0;
}
#win {
  margin: 16px auto;
  color: #e22;
}
